<!DOCTYPE html>
<html>
  

<head>
  <meta charset="UTF-8">
  <title>Tanveer Patel - Audio</title>
  <link rel="stylesheet" href="../css/theme.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <!-- it is common to place the .js files at the end of the <body> tag as well -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  <!-- ... -->
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top bg-light">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Web322 A3</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <li><a href="./">Home</a></li>
        <li><a href="./storefront.html">Storefront</a></li>
        <li class ="active"><a href="#">Audio</a></li>
        <li><a href="./list.html">List</a></li>
        <li><a href="./table.html">Table</a></li>
        <li><a href="./video.html">Video</a></li>
        </ul>
    </div>
    </div>
   </nav>
   <div class ="container">
  <h1>The Audio Page</h1>
  
  <h2>The Music Track</h2>
  
  <audio controls>
    <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.mp3" type="audio/mpeg">
    <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.ogg" type="audio/ogg">
    Your browser does not support the audio .
  </audio>
  
  <p>Using the HTML5 audio player in this section, you may hear the music track that is provided. The audio player has play, pause, and volume controls. If your browser does not support the audio element, a fallback notice will appear.</p>
</body>
</html>
