<!DOCTYPE html>
<html>
    <head>
        <title>Tanveer Patel</title>
        <link rel="stylesheet" href="../css/theme.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <!-- it is common to place the .js files at the end of the <body> tag as well -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <!-- ... -->
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top bg-light">
            <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Web322 A3</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <li><a href="./">Home</a></li>
                <li class="active"><a href="#">Storefront</a></li>
                <li><a href="./audio.html">Audio</a></li>
                <li><a href="./list.html">List</a></li>
                <li><a href="./table.html">Table</a></li>
                <li><a href="./video.html">Video</a></li>
                </ul>
            </div>
            </div>
        </nav>
        <div class ="container">

            <h1 class="text-center mt-5">Welcome to Indian Restaurant</h1>
            <div class="row">
              <div class="col-md-4">
                <div class="product-card">
                    <div class="product-image">
                  <img src="../images/pasta.jpg" alt="surprised" width="500" height="300">
                </div>
                  <h3>Pasta</h3>
                  <p>Pasta is a versatile dish made from wheat flour and water, typically served with various sauces, meats, or vegetables.The taste of pasta itself is relatively mild, with a slightly chewy texture.</p>
                  <p>Price: $10.99</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product-card">
                    <div class="product-image">
                        <img src="../images/noodles.jpg" alt="noodles" width="500" height="300">
                      </div>
                  <h3>Desi Noodles</h3>
                  <p>Noodles are a staple in many Asian cuisines and come in various forms such as rice noodles, wheat noodles, or egg noodles.</p>
                  <p>Price: $12.99</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product-card">
                    <div class="product-image">
                        <img src="../images/samosa.jpg" alt="samosa" width="500" height="300">
                      </div>
                  <h3>Samosa</h3>
                  <p>Samosa is a popular savory snack in many South Asian and Middle Eastern cuisines.<br> The outer pastry is crispy, while the filling is often rich and savory, with a hint of spice.</p>
                  <p>Price: $4.99</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product-card">
                    <div class="product-image">
                        <img src="../images/fish.jpg" alt="fish" width="500" height="300">
                      </div>
                  <h3>Fried Fish</h3>
                  <p>Fish can have various flavors depending on the type of fish and how it's cooked. </p>
                  <p>Price: $13.99</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product-card">
                    <div class="product-image">
                        <img src="../images/watermelon juice.jpg" alt="Juice" width="500" height="300">
                      </div>
                  <h3>Freshiness Drink </h3>
                  <p>Watermelon juice is a refreshing and hydrating drink made from the flesh of ripe watermelons.</p>
                  <p>Price: $3.99</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product-card">
                    <div class="product-image">
                        <img src="../images/dessert_Cake.jpg" alt="snore" width="500" height="300">
                      </div>
                  <h3>Dessert</h3>
                  <p>Dessert cakes come in a wide variety of flavors and textures. The taste of a dessert cake can range from light and fluffy to rich and decadent.</p>
                  <p>Price: $7.99</p>
                </div>
                <div class="col-md-4">
                  <div class="product-card">
                      <div class="product-image">
                          <img src="../images/panipuri.jpg" alt="panipuri" width="500" height="300">
                        </div>
                    <h3>Pani-Puri</h3>
                    <p>The combination of the crispy puri, tangy and spicy water, and the various chutneys creates a harmonious blend of sweet, sour, and savory tastes.</p>
                    <p>Price: $6.99</p>
                  </div>
                </div>
                
                
                
              </div>
            </div>

        
    </div>
</body>
</html>